<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Public Search - YZ/A</title>
		<style type="text/css">
			table, th, td{
				border: 1px solid black;
			}
		</style>
	</head>

	<body>
		<!-- upper right corner: login/register -->


		<!-- search column-->
		<form action="/searchflight" method="POST">
			<h1>Welcome to YZ Airline Ticket Reservation System</h1>
			<input type="text" name="From" placeholder="Departure City">
		</br>
			<input type="text" name="To" placeholder="Arrival City">
		</br>
			<input type="submit" value="Search">
			{% if error %}
				<p class="error"><strong>Error:</strong> {{error}}</p>
			{% endif %}
		</form>

		<!-- search result -->
		{% if flights %}
			<table>

				<th>Airline</th>
				<th>Flight no.</th>
				<th>Departure Location</th>
			  <th>Departure Time</th>
			  <th>Arrival Location</th>
			  <th>Arrival Time</th>
			  <th>Price</th>

				{% for line in flights %}
					<tr>
						<td>{{line[0]}}</td>
						<td>{{line[1]}}</td>
						<td>{{line[3]}}, <b>{{line[2]}}</b></td>
				    <td>{{line[4]}}</td>
				    <td>{{line[6]}}, <b>{{line[5]}}</b></td>
						<td>{{line[7]}}</td>
				    <td>{{line[8]}}</td>
					</tr>
				{% endfor %}
			</table>
		{% endif %}
	<a href="/login">Login</a>   <a href="/register">Register</a>

	</body>
</html>
