<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Purchase - YZ/A</title>
    <style type="text/css">
      table, th, td{
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <h2>Please check the information below carefully:</h2>

    <!-- flight info -->
    {% if flight_info %}
      <table>
        <caption>Flight Information</caption>

        <th>Airline</th>
        <th>Flight No.</th>
        <th>Departure</th>
        <th>Arrival</th>
        <th>Price</th>

          <tr>
            <td>{{flight_info[0]}}</td>
            <td>{{flight_info[1]}}</td>
            <td>{{flight_info[3]}}, <b>{{flight_info[2]}}</b>
              <br>
              {{flight_info[4]}}
            </td>
            <td>{{flight_info[6]}}, <b>{{flight_info[5]}}</b>
              <br>
              {{flight_info[7]}}
            </td>
            <td>{{flight_info[8]}}</td>
          </tr>

      </table>
    {% endif %}

    <!-- customer info: email, name, passport -->
    {% if customer_info %}
      <table>
        <caption>Customer Information</caption>

        <th>Email</th>
        <th>Name</th>
        <th>Phone No.</th>
        <th>Passport Number</th>
        <th>Passport Expiration</th>
        <th>Passport Country</th>
        <th>Date of Birth</th>

          <tr>
            <td>{{customer_info[0]}}</td>
            <td>{{customer_info[1]}}</td>
            <td>{{customer_info[2]}}</td>
            <td>{{customer_info[3]}}</td>
            <td>{{customer_info[4]}}</td>
            <td>{{customer_info[5]}}</td>
            <td>{{customer_info[6]}}</td>
          </tr>

      </table>
    {% endif %}

    <!-- booking agent info: email, name, passport -->
    {% if ba_info %}
      <table>
        <caption>Booking Agent Information</caption>

        <th>Email</th>
        <th>Booking Agent ID</th>

          <tr>
            <td>{{ba_info[0]}}</td>
            <td>{{ba_info[1]}}</td>
          </tr>

      </table>
    {% endif %}

    <form action="/customer/confirmPurchase">
      <input type="submit" value="Confirm">
    </form>

  </body>
</html>
