<html>
<head>
</head>
<body>
<h1 align="center" style="font-family:Avenir">Join YZ Airline for Pleasant Journey</h1>
<h1></h1>
<form action="/registerAuth_C" method="POST">

	<label style="font-size:15px">E-mail:</label></br>
	<input type="text" name = "email" required style="font-size:15px"/></br>
	<label style="font-size:15px">Password:</label></br>
	<input type="password" name = "password" required style="font-size:15px"/></br>
	<label style="font-size:15px">Name:</label></br>
	<input type="text" name = "name" required style="font-size:15px"/></br>
	<label style="font-size:15px">Phone Number:</label></br>
	<input type="text" name = "phone" required style="font-size:15px"/></br>
	<label style="font-size:15px">State:</label></br>
	<input type="text" name = "state" required style="font-size:15px"/></br>
	<label style="font-size:15px">City:</label></br>
	<input type="text" name = "city" required style="font-size:15px"/></br>
	<label style="font-size:15px">Street:</label></br>
	<input type="text" name = "street" style="font-size:15px"/></br>
	<label style="font-size:15px">Building No:</label></br>
	<input type="text" name = "building" required style="font-size:15px"/></br>
	<label style="font-size:15px">Date of Birth:</label></br>
	<input type="date" name = "dob"/></br>
	<label style="font-size:15px">Passport Country:</label></br>
	<input type="text" name = "passport_country" required style="font-size:15px"/></br>
	<label style="font-size:15px">Passport Number:</label></br>
	<input type="text" name = "passport_number" required style="font-size:15px"/></br>
	<label style="font-size:15px">Passport Expiration Date:</label></br>
	<input type="date" name = "expiration_date" /></br>
	<input type="submit" value="Search">

        {% if error %}
          <p class="error"><strong>Error:</strong> {{error}}</p>
        {% endif %}
      </form>

<div style="width:40%; float:left">
	<a href="/">
		<input name='goback' type='button' value='Go Back' style="font-size:15px"/>
	</a>
</div>

{% for message in get_flashed_messages() %}
<div class=flash>{{ message }}</div>
{% endfor %}
</div>
</body>
</html>


