<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ticket Info - YZ/A</title>
  </head>
  <body>
    <h1>Transaction Success! Here is your ticket information:</h1>


    <!-- ticket info -->
    {% if ticket_info %}
      <table>
        <th>Ticket ID</th>
        <th>Airline Name</th>
        <th>Flight No.</th>
        <th>Customer Email</th>
        <th>Booking Agent Email</th>

          <tr>
            <td>{{ticket_info[0]}}</td>
            <td>{{ticket_info[1]}}</td>
            <td>{{ticket_info[2]}}</td>
            <td>{{ticket_info[3]}}</td>
            <td>{{ticket_info[4]}}</td>
          </tr>

      </table>
    {% endif %}

    <!-- flight info -->
    {% if flight_info %}
      <table>
        <caption>Flight Information</caption>

        <th>Airline</th>
        <th>Flight No.</th>
        <th>Departure</th>
        <th>Arrival</th>
        <th>Price</th>

          <tr>
            <td>{{flight_info[0]}}</td>
            <td>{{flight_info[1]}}</td>
            <td>{{flight_info[3]}}, <b>{{flight_info[2]}}</b>
              <br>
              {{flight_info[4]}}
            </td>
            <td>{{flight_info[6]}}, <b>{{flight_info[5]}}</b>
              <br>
              {{flight_info[7]}}
            </td>
            <td>{{flight_info[8]}}</td>
          </tr>

      </table>
    {% endif %}


    <!-- go back -->
    <form action="/customer_home">
      <input type="submit" value="Go Back Home">
    </form>
  </body>
</html>
